.game-button {
    display: block;
    width: 12.5em;
    height: 12.5em;
    background-color: gray;
    margin: 0 auto;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 0.5em;
}

.game-button:hover { 
    cursor: pointer;
    opacity: .5;
}

.green-button {
    background-color: green;
}

.red-button {
    background-color: red;
}

.yellow-button {
    background-color: yellow;
}

.blue-button {
    background-color: blue;
}

.top-left {
    border-top-left-radius:100%;
}

.top-right {
    border-top-right-radius:100%;

}

.bottom-left {
    border-bottom-left-radius:100%;

}

.bottom-right {
    border-bottom-right-radius:100%;
}